.goods{
    width: 153px;
    height: 255px;
    float: left;
    margin-left: 20px;
    text-align: center;
}
.content{
    margin-top: 40px;
    text-align: center;
    height: auto;
    padding-left: 100px;
}
.content:after{
    clear:both;
    display:block;
}
.img{
    width: 137px;
    height: 198px;
}
.title{
    font-size: 12px;
    height:30px;
    margin: 0;
    text-align: left;
}

.pirce{
    font-size: 20px;
    height:30px;
    margin: 0;
    text-align: left;
}
.discount{
    text-align: center;
    display: inline-block;
    border:1px solid;
    font-size: 10px;
    width:30px;
    height: 20px;
    border-radius: 2px;
    float: right;
    margin-top: 4px;
}